<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>


	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%date{HH:mm:ss.SSS} %relative %level [%thread] %logger{0}:%line - %message%n]]></pattern>
		</encoder>
	</appender>
	
	<root level="info">
		<appender-ref ref="stdout" />
	</root>
</configuration>

